@import "font-awesome/css/font-awesome.css"
@import "bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
    font-family: 'Glyphicons Halflings'
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browsehappy
    background #ccc
    color #000
    margin 0.2em 0
    padding 0.2em 0

// Component styles are injected through grunt
// injector
@import 'admin/admin.styl';
@import 'home/home.styl';
@import 'leaderboard/leaderboard.styl';
@import 'main/main.styl';
@import 'matches/matches.styl';
@import 'profile/profile.styl';
@import 'reports/reports.styl';
// endinjector

#dataView
  margin-left 20px

.leader_items
  font-size 10px !important

.champion_header
  background-color white
  margin-bottom 0px !important

.small_stats
  font-size 13px !important

.time_stamp
  font-size 9px !important

.hero_image
    padding-top 10px !important
    padding-left 10px !important
    background-color white !important
    max-width 120px !important

.hero_matches_column
  margin-left 10px !important

.teammates_header
  margin-top 10px !important
  margin-bottom 0px !important

.teammate_image
  padding-top 0px !important
  float left !important
  padding-right 2px !important
  padding-left 2px !important
  max-width 50px !important
.teammates_column
  max-width 130px !important
.small_match_stats
  font-size 7px !important
  font-weight 2px !important

.game_header
  font-size 15px !important
  background-color white !important
  color black !important
  margin-bottom 3px !important
  border-top solid 0px !important
  border-bottom solid 3px !important
  border-left solid 0px !important
  border-right solid 0px !important
  box-shadow 0 0 0 0px !important
  margin-left 3px !important
  padding-left 1px !important

.game_item
  max-height 250px !important
  padding-top 2px !important
  padding-bottom 2px !important
  margin-top 0px !important
  margin-bottom 0px !important

.backpack_font
  font-size 12px !important

.ui.buttons
  margin-bottom: 4px !important
