.ui.huge.header Leaderboard of Testers
.ui.huge.ordered.list
    a.item(ng-repeat="leader in leaders | orderBy:'profile.elo':true" ng-click="searchPlayer(leader.playerName)"){{leader.playerName}} | {{leader.profile.elo}}