.ui.grid
  .row
    .four.wide.left.aligned.column.leaderboard_column
      .ui.huge.header Leaderboard
      .ui.small.header(style='white-space:pre;')
        | Click on names to search for their profile
        | Updates every 10 minutes
        | Shows rank change of last 3 days
      .ui.huge.ordered.list
          a.item.leader_items(ng-repeat="leader in leaders" ng-click="searchPlayer(leader.playerName)")
            .ui.tiny.header(ng-class="{purple: leader.delta > 0, red: leader.delta < 0}") {{leader.playerName}} | {{leader.elo}} |
              i.arrow.icon(ng-class="{up: leader.delta > 0, down: leader.delta < 0, purple: leader.delta > 0, red: leader.delta < 0}", ng-show="leader.delta != 0")
              |{{Math.abs(leader.delta)}}
    .twelve.wide.left.aligned.column
      .ui.segment(ng-show="statsView=='champions'")
        .ui.large.header Global Stats (last {{globalStats.gamesAnalyzed}} games) | Updates every hour
        .ui.buttons
          .ui.green.button(ng-click="statsView='champions'") Champions Stats
          .ui.blue.button(ng-click="statsView='packs'") Backpack Stats
        .ui.buttons
          .ui.button(ng-click="changeSortKey('winRate')") Win Rate
          .ui.button(ng-click="changeSortKey('elo')") ELO/g
          .ui.blue.button(ng-click="changeSortKey('wins')") Wins
          .ui.red.button(ng-click="changeSortKey('losses')") Losses
          .ui.red.button(ng-click="changeSortKey('scoreTotal')") Score/g
          .ui.green.button(ng-click="changeSortKey('kills')") Kills/g
          .ui.yellow.button(ng-click="changeSortKey('deaths')") Deaths/g
          .ui.purple.button(ng-click="changeSortKey('assists')") Assists/g
        .ui.divider
        .ui.list
          .item(ng-repeat='statObj in globalStats.champStats | orderBy:sortChamps:reverse')
            .ui.rounded.left.floated.image.hero_image
              .ui.red.header.champion_header {{statObj.name}} {{statObj.stats.averages.wins * 100 | number:1}}% wins
              img(ng-src="{{avatarURL(statObj.name)}}")
            .ui.header   {{statObj.stats.wins}} Wins | {{statObj.stats.losses}} Losses | {{statObj.stats.elo}} ELO
            span.ui.header.small_stats(ng-repeat='(belt, games) in statObj.stats.belts | orderBy:"games":true' ng-show="(games / statObj.stats.totalGames) > .2") {{formatPack(belt)}} {{games / statObj.stats.totalGames * 100 | number:1}}% of games |
            .ui.header Per Game Averages
            .ui.header.small_stats {{statObj.stats.averages.kills | number:2}} kills |
              |{{statObj.stats.averages.deaths | number:2}} deaths | {{statObj.stats.averages.assists | number:2}} assists |
              |{{statObj.stats.averages.jungleMobs | number:2}} jungle | {{statObj.stats.averages.scoreTotal | number:2}} score
            .ui.divider
      .ui.segment(ng-show="statsView=='packs'")
        .ui.huge.header Global Backpack Stats | Updates every hour
        .ui.buttons
          .ui.button(ng-click="changeSortKey('winRate')") Win Rate
          //- .ui.button(ng-click="changeSortKey('elo')") ELO/g
          .ui.blue.button(ng-click="changeSortKey('wins')") Wins
          .ui.red.button(ng-click="changeSortKey('losses')") Losses
          //- .ui.green.button(ng-click="changeSortKey('kills')") Kills/g
          //- .ui.yellow.button(ng-click="changeSortKey('deaths')") Deaths/g
          //- .ui.purple.button(ng-click="changeSortKey('assists')") Assists/g
        .ui.divider
        .ui.list.backpack_list
          .item(ng-repeat='statObj in globalStats.packStats | orderBy:sortChamps:reverse')
            .ui.header {{formatPack(statObj.name)}} | Win Rate {{statObj.stats.averages.wins * 100 | number:1}}% | {{statObj.stats.wins}} Wins | {{statObj.stats.losses}} Losses
            .ui.divider
