.ui.grid
  .row
    .four.wide.left.aligned.column
      .ui.huge.header Leaderboard of Testers
      .ui.huge.ordered.list
          a.item(ng-repeat="leader in leaders | orderBy:'profile.elo':true" ng-click="searchPlayer(leader.playerName)") {{leader.playerName}} | {{leader.profile.elo}}
    .eight.wide.left.aligned.column
      .ui.huge.header Global Champions Stats (last {{globalStats.gamesAnalyzed}} games) | Updated every hour
      .ui.buttons
        .ui.button(ng-click="changeSortKey('winRate')") Win Rate
        .ui.button(ng-click="changeSortKey('elo')") ELO/g
        .ui.blue.button(ng-click="changeSortKey('wins')") Wins
        .ui.red.button(ng-click="changeSortKey('losses')") Losses
        .ui.green.button(ng-click="changeSortKey('kills')") Kills/g
        .ui.yellow.button(ng-click="changeSortKey('deaths')") Deaths/g
        .ui.purple.button(ng-click="changeSortKey('assists')") Assists/g
      .ui.divider
      .ui.list
        .item(ng-repeat='statObj in globalStats.champStats | orderBy:sortChamps:reverse')
          .ui.rounded.left.floated.image 
            .ui.purple.header {{statObj.playerName}} {{statObj.stats.averages.wins * 100 | number:1}}% wins
            img(ng-src="{{avatarURL(statObj.name)}}")
          .ui.large.header   Wins {{statObj.stats.wins}} | Losses {{statObj.stats.losses}} | ELO {{statObj.stats.elo}}
          span.ui.large.header(ng-repeat='(belt, games) in statObj.stats.belts | orderBy:"games":true' ng-show="(games / statObj.stats.totalGames) > .5") {{formatPack(belt)}} {{games / statObj.stats.totalGames * 100 | number:1}}% of games | 
          .ui.header Per Game Averages
          .ui.large.header kills {{statObj.stats.averages.kills | number:2}} | 
            |deaths {{statObj.stats.averages.deaths | number:2}} | assists {{statObj.stats.averages.assists | number:2}} | 
            |jungle {{statObj.stats.averages.jungleMobs | number:2}} | score {{statObj.stats.averages.scoreTotal | number:2}}
          .ui.divider
    .four.wide.left.aligned.column
      .ui.huge.header Global Backpack Stats 
      .ui.divider
      .ui.list
        .item(ng-repeat='statObj in globalStats.packStats | orderBy:sortChamps:reverse')
          .ui.large.header {{formatPack(statObj.name)}}
          .ui.header Win Rate {{statObj.stats.averages.wins * 100 | number:1}}% | Wins {{statObj.stats.wins}} | Losses {{statObj.stats.losses}}
          .ui.divider
