.ui.segment
  .ui.grid
    .two.column.row
      .column.ui.vertical.menu#sidebar
          .ui.blue.large.header SPICY BATTLE BETA
          .ui.action.input#searchBox
            input(ng-model="search.player")
            .ui.button.blue(ng-click="searchPlayer(search.player)") Search
          .ui.huge.header.red(ng-show="error") {{error}}
          div
          .ui.header(ng-show="profile") {{profile.playerName}}
          .ui.header.green(ng-if="profile.elo >= 3000") 3K ELO CLUB
          .ui.huge.red.header(ng-show="profile.elo") {{profile.elo}} ELO
            img.ui.avatar.image(ng-src="http://i.cdn.turner.com/toon/games/adventuretime/adventure-time-battle-party/assets/img/icons/rank/icon_ELO_Rank_{{tier}}.png")
          .ui.header.time_stamp(ng-show="lastUpdated") Last Updated : {{lastUpdated | amDateFormat:'dddd, MMMM Do YYYY, h:mm a'}}
          a.item.header.teal(ng-click="goTo('main.home')" ng-class="{active:checkLocation('main.home')}") FAQ | HELP | PATCH
          a.item.header.red(ng-click="goTo('main.matches')" ng-class="{active:checkLocation('main.matches')}") Match History
          a.item.header.green(ng-click="goTo('main.profile')" ng-class="{active:checkLocation('main.profile')}") Profile
          a.item.header.blue(ng-click="goTo('main.leaderboard')" ng-class="{active:checkLocation('main.leaderboard')}") Leaderboard and Global Statistics
          a.item.header.blue(ng-click="goTo('main.reports')" ng-class="{active:checkLocation('main.reports')}") Reports
          .item.header Recent Searches
            .menu
              a.item(ng-repeat="(name, object) in recentSearches" ng-click="searchPlayer(name)" ng-if="object.display") {{convertName(name, true)}} {{object.time | date:short}}
            span.ui.small.button(ng-click="clearHistory()") Clear
      .column#dataView
        div(ng-show="checkLocation('main.home')")
          include ../home/home.jade
        div(ng-show="checkLocation('main.reports')" ng-controller="ReportsCtrl")
          include ../reports/reports.jade
        div(ng-show="checkLocation('main.profile')" ng-controller="ProfileCtrl")
          include ../profile/profile.jade
        div(ng-show="checkLocation('main.matches')" ng-controller="MatchesCtrl")
          include ../matches/matches.jade
        div(ng-show="checkLocation('main.leaderboard')" ng-controller="LeaderboardCtrl")
          include ../leaderboard/leaderboard.jade
