.ui.segment
  .ui.grid
    .two.column.row
      .column.ui.vertical.menu#sidebar
          .ui.action.input#searchBox
            input(ng-model="search.player")
            .ui.button(ng-click="searchPlayer(search.player)") Search
          .ui.header {{profile.playerName}} | {{profile.elo}} ELO
          .item.ui.button(ng-click="refreshPlayer()") Refresh Data 
          .item(ng-show="lastUpdated") Last Updated : {{computeLast(lastUpdated) | date:short}}
          a.item.header.red(ng-click="goTo('main.matches')" ng-class="{active:checkLocation('/matches')}") Match History
          a.item.header.green(ng-click="goTo('main.profile')" ng-class="{active:checkLocation('/profile')}") Profile
          .item.header Recent Searches
            .menu
              a.item(ng-repeat="(name, object) in recentSearches" ng-click="searchPlayer(name)") {{name}} {{object.time | date:short}}
            span.ui.small.button(ng-click="clearHistory()") Clear
      .column#dataView
          div(ng-show="checkLocation('/profile')")
            .ui.header Profile
            .ui.grid
              .row
                .four.wide.right.aligned.column
                  div Tier : 
                  div Wins : 
                  div Losses : 
                  div Knockouts : 
                  div Defeats : 
                  div Assists : 
                  div Towers : 
                  div Largest Spree : 
                  div Minions : 
                  div Jungle Minions : 
                  div Highest Score : 
                .four.wide.left.aligned.column
                  div {{tierConvert(profile.tier)}}
                  div {{profile.winsPVP}}
                  div {{profile.playsPVP - profile.winsPVP}}
                  div {{profile.kills}}
                  div {{profile.deaths}}
                  div {{profile.assists}}
                  div {{profile.towers}}
                  div {{profile.largestSpree}}
                  div {{profile.minions}}
                  div {{profile.jungleMobs}}
                  div {{profile.scoreHighest}}
                .twelve.wide.column
          div(ng-show="checkLocation('/matches')")
            .ui.header Match History
            .ui.segment(ng-repeat="game in gameLog")
              .ui.center.aligned.header  {{computeLast(game._date)}} | {{game._date}}
              .ui.center.aligned.header {{game.balanceType}} | {{gameWin(game)}} ({{game.elo}}) | {{game.playerName}} lvl {{game.level}} | {{game.kills + '/' + game.deaths + '/' + game.assists}}
              .ui.grid
                .three.column.row
                  .four.wide.right.aligned.column
                      img.rounded.ui.image(ng-src="{{avatarURL(game.playerName)}}")
                  .four.wide.left.aligned.column
                    .ui.small.images
                      img.rounded.ui.image(ng-src="{{avatarURL(game.teammate1)}}")
                      img.rounded.ui.image(ng-src="{{avatarURL(game.teammate2)}}")
                  .eight.wide.left.aligned.column
                    div {{backpackBuild(game)}}
                    div with {{game.teammate2}} and {{game.teammate1}}
                    div score : {{game.score}}
                    div towers : {{game.towers}}
                    div minions : {{game.minions}}
                    div jungle : {{game.jungleMobs}}
                    div winning team elo  : {{game.winTeamElo}}
                    div losing team elo : {{game.loseTeamElo}}
                    div largest killing spree : {{game.largestSpree}}
                    div damage dealt : {{game.damageDealtTotal}}
                    div magic damage dealt : {{game.damageDealtSpell}}
                    div physical damage dealt : {{game.damageDealtPhysical}}
                    div time dead : {{convertToSec(game.timeDead) + ' seconds'}}
                    div disconnected : {{!game.connected}}

          //- div {{playerData}}