.ui.segment(ng-repeat="game in gameLog | orderBy:'-_date'")
  .ui.inverted.top.attached.center.aligned.red.large.header {{game.balanceType}} | {{gameWin(game)}} ({{game.elo}} ELO) | KDA {{game.kills + '/' + game.deaths + '/' + game.assists}} 
  .ui.center.aligned.header {{changeToDate(game._date) | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}
  .ui.grid
    .four.column.row
      .four.wide.right.aligned.column
        .ui.rounded.image 
          .ui.purple.header {{game.playerName}} lvl {{game.level}}
          img(ng-src="{{avatarURL(game.playerName)}}")
      .four.wide.left.aligned.column
        .ui.header Teammates
        .ui.small.rounded.image
          .ui.purple.header {{game.teammate1}}
          img(ng-src="{{avatarURL(game.teammate1)}}")
        .ui.small.rounded.image
          .ui.purple.header {{game.teammate2}}
          img(ng-src="{{avatarURL(game.teammate2)}}")
      .four.wide.right.aligned.column
        .ui.small.header build :
        .ui.small.header score :
        .ui.small.header towers :
        .ui.small.header minions :
        .ui.small.header jungle :
        .ui.small.header winning team elo :
        .ui.small.header losing team elo :
        .ui.small.header largest spree :
        .ui.small.header damage dealt :
        .ui.small.header magic damage :
        .ui.small.header physical damage :
        .ui.small.header time dead :
        .ui.small.header disconnected :
      .four.wide.left.aligned.column
        .ui.small.header {{backpackBuild(game)}}
        .ui.small.header {{game.score}}
        .ui.small.header {{game.towers}}
        .ui.small.header {{game.minions}}
        .ui.small.header {{game.jungleMobs}}
        .ui.small.header {{game.winTeamElo}}
        .ui.small.header {{game.loseTeamElo}}
        .ui.small.header {{game.largestSpree}}
        .ui.small.header {{game.damageDealtTotal}}
        .ui.small.header {{game.damageDealtSpell}}
        .ui.small.header {{game.damageDealtPhysical}}
        .ui.small.header {{convertToSec(game.timeDead) + ' seconds'}}
        .ui.small.header {{!game.connected}}