.ui.grid
  .row
    .four.wide.right.aligned.column
      .ui.huge.header Lifetime
      .ui.large.header Tier : 
      .ui.large.header Wins : 
      .ui.large.header Losses : 
      .ui.large.header Knockouts : 
      .ui.large.header Defeats : 
      .ui.large.header Assists : 
      .ui.large.header Towers : 
      .ui.large.header Largest Spree : 
      .ui.large.header Minions : 
      .ui.large.header Jungle Minions :
      .ui.large.header Altars :  
      .ui.large.header Highest Score : 
      .ui.large.header Total Score : 
    .four.wide.left.aligned.column
      .ui.huge.header Statistics
      .ui.large.header {{tierConvert(profile.tier)}}
      .ui.large.header {{profile.winsPVP}}
      .ui.large.header {{profile.playsPVP - profile.winsPVP}}
      .ui.large.header {{profile.kills}}
      .ui.large.header {{profile.deaths}}
      .ui.large.header {{profile.assists}}
      .ui.large.header {{profile.towers}}
      .ui.large.header {{profile.largestSpree}}
      .ui.large.header {{profile.minions}}
      .ui.large.header {{profile.jungleMobs}}
      .ui.large.header {{profile.altars}}
      .ui.large.header {{profile.scoreHighest}}
      .ui.large.header {{profile.scoreTotal}}
    .four.wide.right.aligned.column
      .ui.huge.header Per Game
      .ui.large.header Knockouts : 
      .ui.large.header Defeats : 
      .ui.large.header Assists : 
      .ui.large.header Towers : 
      .ui.large.header Minions (Jungle+Lane) : 
      .ui.large.header Altars : 
      .ui.large.header Score : 
    .four.wide.left.aligned.column
      .ui.huge.header Averages
      .ui.large.header {{profile.kills / profile.playsPVP | number:2}}
      .ui.large.header {{profile.deaths / profile.playsPVP | number:2}}
      .ui.large.header {{profile.assists / profile.playsPVP | number:2}}
      .ui.large.header {{profile.towers / profile.playsPVP | number:2}}
      .ui.large.header {{(profile.minions + profile.jungleMobs) / profile.playsPVP | number:2}}
      .ui.large.header {{profile.altars / profile.playsPVP | number:2}}
      .ui.large.header {{profile.scoreTotal / profile.playsPVP | number:2}}
  .row
    .twelve.wide.center.aligned.column
      .ui.huge.header Champions Stats (last {{gamesAnalyzed}} games)
      .ui.buttons
        .ui.button(ng-click="changeSortKey('winRate')") Win Rate
        .ui.button(ng-click="changeSortKey('elo')") ELO
        .ui.blue.button(ng-click="changeSortKey('wins')") Wins
        .ui.red.button(ng-click="changeSortKey('losses')") Losses
        .ui.green.button(ng-click="changeSortKey('kills')") Kills
        .ui.yellow.button(ng-click="changeSortKey('deaths')") Deaths
        .ui.purple.button(ng-click="changeSortKey('assists')") Assists
      .ui.divider
      .ui.list
        .item(ng-repeat='statObj in champStats | orderBy:sortChamps:reverse')
          .ui.rounded.left.floated.image 
            img(ng-src="{{avatarURL(statObj.name)}}")
          .ui.large.header {{statObj.name}} {{statObj.stats.wins / statObj.stats.totalGames * 100 | number:1}}% wins
          .ui.large.header ELO {{statObj.stats.elo}}  | Wins {{statObj.stats.wins}} | Losses {{statObj.stats.losses}}
          .ui.header Per Game Averages
          .ui.large.header kills {{statObj.stats.kills / statObj.stats.totalGames | number:2}} | 
            |deaths {{statObj.stats.deaths / statObj.stats.totalGames | number:2}} | assists {{statObj.stats.deaths / statObj.stats.totalGames | number:2}} | 
            |jungle {{statObj.stats.jungleMobs / statObj.stats.totalGames | number:2}} | score {{statObj.stats.scoreTotal / statObj.stats.totalGames | number:2}}
          .ui.divider
    .four.wide.center.aligned.column
      .ui.huge.header Backpack Stats 
      .ui.divider
      .ui.list
        .item(ng-repeat='statObj in packStats | orderBy:sortChamps:reverse')
          .ui.large.header {{formatPack(statObj.name)}}
          .ui.header Win Rate {{statObj.stats.wins / statObj.stats.totalGames * 100 | number:1}}% | Wins {{statObj.stats.wins}} | Losses {{statObj.stats.losses}}
