.ui.grid
  .row
    .four.wide.right.aligned.column
      .ui.large.header Lifetime
      .ui.header Tier : 
      .ui.header Wins : 
      .ui.header Losses : 
      .ui.header Knockouts : 
      .ui.header Defeats : 
      .ui.header Assists : 
      .ui.header Towers : 
      .ui.header Largest Spree : 
      .ui.header Minions : 
      .ui.header Jungle Minions :
      .ui.header Altars :  
      .ui.header Highest Score : 
      .ui.header Total Score : 
    .four.wide.left.aligned.column
      .ui.large.header Statistics
      .ui.header {{tierConvert(profile.tier)}}
      .ui.header {{profile.winsPVP}}
      .ui.header {{profile.playsPVP - profile.winsPVP}}
      .ui.header {{profile.kills}}
      .ui.header {{profile.deaths}}
      .ui.header {{profile.assists}}
      .ui.header {{profile.towers}}
      .ui.header {{profile.largestSpree}}
      .ui.header {{profile.minions}}
      .ui.header {{profile.jungleMobs}}
      .ui.header {{profile.altars}}
      .ui.header {{profile.scoreHighest}}
      .ui.header {{profile.scoreTotal}}
    .four.wide.right.aligned.column
      .ui.large.header Per Game
      .ui.header Knockouts : 
      .ui.header Defeats : 
      .ui.header Assists : 
      .ui.header Towers : 
      .ui.header Minions (Jungle+Lane) : 
      .ui.header Altars : 
      .ui.header Score : 
    .four.wide.left.aligned.column
      .ui.large.header Averages
      .ui.header {{profile.kills / profile.playsPVP | number:2}}
      .ui.header {{profile.deaths / profile.playsPVP | number:2}}
      .ui.header {{profile.assists / profile.playsPVP | number:2}}
      .ui.header {{profile.towers / profile.playsPVP | number:2}}
      .ui.header {{(profile.minions + profile.jungleMobs) / profile.playsPVP | number:2}}
      .ui.header {{profile.altars / profile.playsPVP | number:2}}
      .ui.header {{profile.scoreTotal / profile.playsPVP | number:2}}