.ui.segment
  .ui.header(style='white-space:pre;') BETA 2.0.1 Patch Notes
    | Changed styling to make things smaller
.ui.segment
  .ui.header.red What the glob is this for?
  .ui.header(style='white-space:pre;')
    | It's for viewing match histories, statistics, and more from Adventure Time Battle Party!
    | Registering with the extension is required to retrieve your profile and statistics.
    | See How To section below to register your account and view your profile!
.ui.segment
  .ui.huge.red.header How To Register your ATBP Account
  .ui.header Requirements: Latest Google Chrome
  .ui.large.ordered.list
    .item.ui.header Install  
      a(href="https://chrome.google.com/webstore/detail/spicy-battle/pbnbdgenkkgnkbooiipikaoepojfingl") Chrome Spicy Battle Extension 
    .item.ui.header Enable Extension and Login to your ATBP Account then refresh the page.
    .item.ui.header Visit 
      a(href="http://spicybattle.com") Spicybattle.com 
      span to view your match history and stats!
    .item.ui.header Search for other players, view global leaderboards, statistics, and share!
    .item.ui.header Keep extension enabled to continue updating the site.
.ui.segment
  .ui.large.header FAQ
  .ui.ordered.list
    .item
      .ui.header My stats aren't updating, and I'm getting an error that says "update plugin and refresh the game".
      .ui.tiny.header Try enabling your plugin, then log into ATBP on Cartoon Network and refresh.
    .ui.divider
    .item
      .ui.header Player not found?
      .ui.tiny.header The player you are searching for has not installed the plugin and registered. Tell them to register!
    .ui.divider
    .item
      .ui.header I just finished a game, and my match history hasn't updated!
      .ui.tiny.header If you finished a game in less than 15 minutes, the data may not have updated yet.
    .ui.divider
    .item
      .ui.header The leaderboard isn't updated!
      .ui.tiny.header It updates every 10 minutes.
