.ui.segment
  .ui.header ALPHA 1.6.6 Patch Notes
  .ui.header Global statistics now available!
  .ui.header Added additional Profile Stats!
  .ui.header Data auto-refreshes intermittently
.ui.segment
  .ui.huge.header What the glob is this for?
  .ui.large.header It's for viewing match histories, statistics, and more from Adventure Time Battle Party!
.ui.segment
  .ui.huge.header How To Register your ATBP Account
  .ui.large.header Requirements: Latest Google Chrome
  .ui.huge.ordered.list
    .item.ui.huge.header Install  
      a(href="https://chrome.google.com/webstore/detail/spicy-battle/pbnbdgenkkgnkbooiipikaoepojfingl") Chrome Spicy Battle Extension 
    .item.ui.huge.header Enable Extension and Login to your ATBP Account
    .item.ui.huge.header Visit 
      a(href="http://spicybattle.com") Spicybattle.com 
      | to view your match history and stats!
    .item.ui.huge.header Search for other players, view global leaderboards, statistics, and share!
    .item.ui.huge.header Keep extension enabled to continue updating the site.

.ui.segment
  .ui.huge.header FAQ
  .ui.large.ordered.list
    .item
      .ui.large.header The site is telling me to enable my plugin and refresh the game?
      .ui.black.header Try enabling your plugin, then log into ATBP on Cartoon Network and refresh.
    .ui.divider
    .item
      .ui.large.header Player not found?
      .ui.black.header The player you are searching for has not installed the plugin and registered. Tell them to register!