.ui.large.header Elo gains vs Elo difference between teams(averaged)
.ui.large.header Blue dots are wins, Red dots are losses
nvd3-scatter-chart(width="800" height="500" interactive="true" data="eloStatsData" tooltips="true" tooltipContent="tooltipContent()")