.ui.large.header Elo gains vs Elo difference between teams(averaged)
nvd3-scatter-chart(width="900" height="500" interactive="false" data="eloStatsData"
    xAxisLabel="ELO Difference" yAxisLabel="ELO Gain" showLegend="true"
    margin="{left:100,top:150,bottom:100,right:150}")
